:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dropdown-building-button {
  position: relative;
  left: -550px;
  top: -150px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  background-color: white;
  color: lightgrey;
  border: 1px solid grey;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.dropdown-ava-button {
  position: relative;
  left: -300px;
  top: -200px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  background-color: white;
  color: lightgrey;
  border: 1px solid grey;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.dropdown-floor-button {
  position: relative;
  left: -55px;
  top: -250px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 50px;
  width: 200px;
  background-color: white;
  color: lightgrey;
  border: 1px solid grey;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.dropdown-text {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  color: #242424;
}

.menu-building {
  position: absolute;
  left: 94px;
  top: 200px;
  border-radius: 8px;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 200px;
}

.menu-ava {
  position: absolute;
  left: 345px;
  top: 200px;
  border-radius: 8px;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 200px;
}

.menu-floor {
  position: absolute;
  left: 590px;
  top: 200px;
  border-radius: 8px;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 200px;
}

.menu-building > li {
  margin: 0;
  background-color: white;
}

.menu-building > li:hover {
  background-color: white;
}

.menu-building > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
}

.menu-ava > li {
  margin: 0;
  background-color: white;
}

.menu-ava > li:hover {
  background-color: white;
}

.menu-ava > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
}

.menu-floor > li {
  margin: 0;
  background-color: white;
}

.menu-floor > li:hover {
  background-color: white;
}

.menu-floor > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
